body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

li {
  list-style: none;
  display: inline-block;
}

img {
  border: 0;
  vertical-align: middle;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  word-wrap: break-word;
}

button {
  border: none;
  outline: none;
  background: none;
}

::-webkit-scrollbar {
  display: none;
}

.sellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pointer {
  cursor: pointer;
}
